In [ ]:
import os
drive_loc = '/content/gdrive'
files_loc = os.path.join(drive_loc, "MyDrive", "pdsfiles") #Monta el MyDrive con drive_loc

from google.colab import drive 
drive.mount(drive_loc)

Mounted at /content/gdrive

In [ ]:
!mkdir -p {files_loc}

In [ ]:
!ls {files_loc}

In [ ]:
files_loc

'/content/gdrive/MyDrive/pdsfiles'

# Getting started

In [1]:
import pandas as pd
import numpy as np

## Serie

In [ ]:
#Creamos una serie
s = pd.Series([4,7,-5,3])
type(s) #ver tipo de ese objeto

pandas.core.series.Series

In [ ]:
#Contenido de la serie
s
#Devuelve index y valor, además devuelve el tipo de datos de la serie

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
#Puedo pedir los valores
s.values

array([ 4,  7, -5,  3])

In [ ]:
type(s.values)

numpy.ndarray

In [ ]:
#Creamos una serie donde identificamos a los índices (no pueden repetirse los índices) (Estos índices son los nombres de las filas)
s2 = pd.Series([1,2,4.5,8,7,2,23,15,], index=list('abcdefgh'))

In [ ]:
s2

a     1.0
b     2.0
c     4.5
d     8.0
e     7.0
f     2.0
g    23.0
h    15.0
dtype: float64

In [ ]:
#Le pido un dato a la serie introduciendo el índice creado ('b')
s2['b']

2.0

In [ ]:
#Le pido un dato por la posición
s2[0]

1.0

In [ ]:
#Operación. Saber qué valores son divisibles por 2
s2 % 2 == 0

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h    False
dtype: bool

In [ ]:
#Operacion. Cogemos la serie y le pasamos el filtro, para que me devuelva aquellos que cumplan la condición
s2[s2 % 2 == 0]

b    2.0
d    8.0
f    2.0
dtype: float64

In [ ]:
#Multiplicacion
s2*2

a     2.0
b     4.0
c     9.0
d    16.0
e    14.0
f     4.0
g    46.0
h    30.0
dtype: float64

In [ ]:
#Elevando al exponente
np.exp(s2)
#No modifica el valr de s2, porque no le he asignado ninguna variable, solo me muestra el resultado pero no puedo volver a él.

a    2.718282e+00
b    7.389056e+00
c    9.001713e+01
d    2.980958e+03
e    1.096633e+03
f    7.389056e+00
g    9.744803e+09
h    3.269017e+06
dtype: float64

In [ ]:
s2

a     1.0
b     2.0
c     4.5
d     8.0
e     7.0
f     2.0
g    23.0
h    15.0
dtype: float64

In [ ]:
#Nos dice si está la letra 'i' en la serie
'i' in s2

False

In [ ]:
#Creacion de diccionario
sdata = {
    'Zaragoza': 2.5e5,
    'Sevilla': 5e5,
    'Cordoba': 3e5,
    'Madrid': 6e6
}
#Ahora creo una serie del diccionario
s3=pd.Series(sdata)
s3

Zaragoza     250000.0
Sevilla      500000.0
Cordoba      300000.0
Madrid      6000000.0
dtype: float64

In [ ]:
#Guardar la serie s3
#os.path.join busca un 
s3.to_pickle(os.path.join(files_loc, "s3.pkl"))

In [ ]:
!ls {files_loc}/s3.pkl

/content/gdrive/MyDrive/pdsfiles/s3.pkl

In [ ]:
#Ordenado de los datos
s3 = pd.Series(sdata).sort_index()

In [ ]:
s3

Cordoba      300000.0
Madrid      6000000.0
Sevilla      500000.0
Zaragoza     250000.0
dtype: float64

In [ ]:
cities = ['Cordoba', 'Madrid', 'Valencia', 'Zaragoza']

In [ ]:
#Nueva serie, que coge el diccionario de sdata y cambia las el nombre de las claves del diccionario por las nueva, pero si coindicen las claves le asigna el valor
s4 = pd.Series(sdata, index=cities)

In [ ]:
s4

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
dtype: float64

In [ ]:
#Pedir los valores nulos dentro de la serie
pd.isnull(s4)

Cordoba     False
Madrid      False
Valencia     True
Zaragoza    False
dtype: bool

In [ ]:
#Pedir los valores no nulos
pd.notnull(s4)

Cordoba      True
Madrid       True
Valencia    False
Zaragoza     True
dtype: bool

In [ ]:
s3

Cordoba      300000.0
Madrid      6000000.0
Sevilla      500000.0
Zaragoza     250000.0
dtype: float64

In [ ]:
s4

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
dtype: float64

In [ ]:
#sumamos las series (NaN:Not a number (no significa que sea cero))
s3+s4
#Solo suma cuando en ambas series hay datos, si no devuelve un NaN

Cordoba       600000.0
Madrid      12000000.0
Sevilla            NaN
Valencia           NaN
Zaragoza      500000.0
dtype: float64

In [ ]:
#Damos nombre a los valores (columna)
s4.name = 'Population'

In [ ]:
s4

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
Name: Population, dtype: float64

In [ ]:
#Ponemos un nombre al índice que es la provincia
s4.index.name = 'Province'

In [ ]:
s4

Province
Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
Name: Population, dtype: float64

## Dataframes
Es una representación tabulada

In [ ]:
#creamos un diccionario
dfdata={
    'province': ['M', 'M', 'M', 'B', 'B'],
    'population': [1.5e6, 2e6, 3e6, 5e6, 1.5e6],
    'year': [1900, 1950, 2000, 1900, 2000]
}

In [ ]:
dfdata

{'population': [1500000.0, 2000000.0, 3000000.0, 5000000.0, 1500000.0],
 'province': ['M', 'M', 'M', 'B', 'B'],
 'year': [1900, 1950, 2000, 1900, 2000]}

In [ ]:
#Creamos un dataframe
df = pd.DataFrame(dfdata)
df

  province  population  year
0        M   1500000.0  1900
1        M   2000000.0  1950
2        M   3000000.0  2000
3        B   5000000.0  1900
4        B   1500000.0  2000

In [ ]:
#Crear un dataframe dando nombre a las columnas
df2 = pd.DataFrame(dfdata,columns=['province','population','year','debt'])
df2

  province  population  year debt
0        M   1500000.0  1900  NaN
1        M   2000000.0  1950  NaN
2        M   3000000.0  2000  NaN
3        B   5000000.0  1900  NaN
4        B   1500000.0  2000  NaN

In [ ]:
#RangeIndex: es una estructura que crea pandas que es un iterador. Crea un indice numérico (es como un range)
df2.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#Index: 
df2.columns

Index(['province', 'population', 'year', 'debt'], dtype='object')

In [ ]:
type(df2.columns)

pandas.core.indexes.base.Index

In [ ]:
#Le pido una columna
df['population']
#Devuelve una serie con el nombre de la columna y con su índice numérico

0    1500000.0
1    2000000.0
2    3000000.0
3    5000000.0
4    1500000.0
Name: population, dtype: float64

In [ ]:
df.population

0    1500000.0
1    2000000.0
2    3000000.0
3    5000000.0
4    1500000.0
Name: population, dtype: float64

In [ ]:
df2['2nd_language']=np.nan

In [ ]:
df2

  province  population  year debt  2nd_language
0        M   1500000.0  1900  NaN           NaN
1        M   2000000.0  1950  NaN           NaN
2        M   3000000.0  2000  NaN           NaN
3        B   5000000.0  1900  NaN           NaN
4        B   1500000.0  2000  NaN           NaN

In [ ]:
df2['2nd_language']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 2nd_language, dtype: float64

In [ ]:
df2.2n_language #Problemas a como nombramos las columnas, no podemos empezar despues de un punto con un numero

SyntaxError: ignored

In [ ]:
#Ponemos un nuevo index creado por nosotros, ya no es un rangeindex
df2.index = list('abcde')

In [ ]:
df2

  province  population  year debt  2nd_language
a        M   1500000.0  1900  NaN           NaN
b        M   2000000.0  1950  NaN           NaN
c        M   3000000.0  2000  NaN           NaN
d        B   5000000.0  1900  NaN           NaN
e        B   1500000.0  2000  NaN           NaN

In [ ]:
df2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
#Para que me de una fila
df2.loc['c']

province            M
population      3e+06
year             2000
debt              NaN
2nd_language      NaN
Name: c, dtype: object

In [ ]:
df2.loc['a':'c']  #no es igual que el slicing de python

  province  population  year debt  2nd_language
a        M   1500000.0  1900  NaN           NaN
b        M   2000000.0  1950  NaN           NaN
c        M   3000000.0  2000  NaN           NaN

In [ ]:
df2.loc[df2['year']>1950]

  province  population  year debt  2nd_language
c        M   3000000.0  2000  NaN           NaN
e        B   1500000.0  2000  NaN           NaN

In [ ]:
val=pd.Series([0.1, 0.6, 0.9], index=['b','d','e'])
val

b    0.1
d    0.6
e    0.9
dtype: float64

In [ ]:
df2['debt']=[1,0,2,0.5,0.7]
df2

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   1.0           NaN
b        M   2000000.0  1950   0.0           NaN
c        M   3000000.0  2000   2.0           NaN
d        B   5000000.0  1900   0.5           NaN
e        B   1500000.0  2000   0.7           NaN

In [ ]:
#Inserto los valores de la serie val en la columna 'debt'
df2['debt']=val
df2

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [ ]:
#Creo una nueva columna donde me diga si la province es una 'M'
df2['capital']=df2['province']=='M'
df2

  province  population  year  debt  2nd_language  capital
a        M   1500000.0  1900   NaN           NaN     True
b        M   2000000.0  1950   0.1           NaN     True
c        M   3000000.0  2000   NaN           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [ ]:
#Transponemos filas y columnas, como las matrices
df2.T

                    a      b      c      d        e
province            M      M      M      B        B
population    1.5e+06  2e+06  3e+06  5e+06  1.5e+06
year             1900   1950   2000   1900     2000
debt              NaN    0.1    NaN    0.6      0.9
2nd_language      NaN    NaN    NaN    NaN      NaN
capital          True   True   True  False    False

In [ ]:
#Estadistica descriptiva rápida sobre las columnas que tenemos
df2.describe()

         population    year      debt  2nd_language
count  5.000000e+00     5.0  3.000000           0.0
mean   2.600000e+06  1950.0  0.533333           NaN
std    1.474788e+06    50.0  0.404145           NaN
min    1.500000e+06  1900.0  0.100000           NaN
25%    1.500000e+06  1900.0  0.350000           NaN
50%    2.000000e+06  1950.0  0.600000           NaN
75%    3.000000e+06  2000.0  0.750000           NaN
max    5.000000e+06  2000.0  0.900000           NaN

In [ ]:
#Otra forma de verlo
df2.describe().T

              count          mean  ...         75%        max
population      5.0  2.600000e+06  ...  3000000.00  5000000.0
year            5.0  1.950000e+03  ...     2000.00     2000.0
debt            3.0  5.333333e-01  ...        0.75        0.9
2nd_language    0.0           NaN  ...         NaN        NaN

[4 rows x 8 columns]

In [ ]:
#Contar cantidad de valores que tenemos en la tabla
df2.count()

province        5
population      5
year            5
debt            3
2nd_language    0
capital         5
dtype: int64

In [ ]:
#Los objetos indices de las series y df son inmutables
df2.index[1]='x'
#Da error!! porque no puedo hacerlo

TypeError: ignored

In [ ]:
#Usamos los indices del df2, para la nueva series_temp
series_temp=pd.Series([1.5,-2.5,0,1,2],df2.index)
series_temp

a    1.5
b   -2.5
c    0.0
d    1.0
e    2.0
dtype: float64

In [ ]:
#Dame las filas desde el indice 2 hasta el final
df2.iloc[2:]

  province  population  year  debt  2nd_language  capital
c        M   3000000.0  2000   NaN           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [ ]:
#Creamos una serie de numeros del 0 al 5 con indices dados
s5 = pd.Series(np.arange(5), list('jduvk'))
s5

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [ ]:
#Eliminamos los valores de los indices marcados
s6 = s5.drop(['d','k'])
s6

j    0
u    2
v    3
dtype: int64

In [ ]:
#Dame la serie que salve los valores de los indices marcados 
s6b=s5[s5.index.intersection(['d','k'])]
s6b

d    1
k    4
dtype: int64

In [ ]:
s5

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [ ]:
#Cambiamos el valor del indice 'u' por 7
s5['u'] = 7
s5

j    0
d    1
u    7
v    3
k    4
dtype: int64

In [ ]:
#Para leer variables que hemos guardado. No funciona porque no habia guardado df2
df2 = pd.read_pickle(os.path.join(files_loc, "df2.pk1"))

FileNotFoundError: ignored

In [ ]:
df2

  province  population  year  debt  2nd_language  capital
a        M   1500000.0  1900   NaN           NaN     True
b        M   2000000.0  1950   0.1           NaN     True
c        M   3000000.0  2000   NaN           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [ ]:
df2.drop('c')

  province  population  year  debt  2nd_language  capital
a        M   1500000.0  1900   NaN           NaN     True
b        M   2000000.0  1950   0.1           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [ ]:
df2.drop('2nd_language', axis=1)

  province  population  year  debt  capital
a        M   1500000.0  1900   NaN     True
b        M   2000000.0  1950   0.1     True
c        M   3000000.0  2000   NaN     True
d        B   5000000.0  1900   0.6    False
e        B   1500000.0  2000   0.9    False

In [ ]:
df2

  province  population  year  debt  2nd_language  capital
a        M   1500000.0  1900   NaN           NaN     True
b        M   2000000.0  1950   0.1           NaN     True
c        M   3000000.0  2000   NaN           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [ ]:
#Hacemos una copia 
df3 = df2.copy()

In [ ]:
df3

  province  population  year  debt  2nd_language  capital
a        M   1500000.0  1900   NaN           NaN     True
b        M   2000000.0  1950   0.1           NaN     True
c        M   3000000.0  2000   NaN           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [ ]:
df_detour = pd.DataFrame({'x':[1,2]})

In [ ]:
df_detour

   x
0  1
1  2

In [ ]:
df_sub=df_detour[0:1]

In [ ]:
df_sub.x = -1
df_detour

   x
0 -1

In [ ]:
#Con inplace si que te la eliminas de verdad
df3.drop('capital', axis=1, inplace=True)

In [ ]:
df3

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [ ]:
s3

Cordoba      300000.0
Madrid      6000000.0
Sevilla      500000.0
Zaragoza     250000.0
dtype: float64

In [ ]:
s3[['Zaragoza', 'Madrid']]

Zaragoza     250000.0
Madrid      6000000.0
dtype: float64

In [ ]:
s3[2:]

Sevilla     500000.0
Zaragoza    250000.0
dtype: float64

In [ ]:
s3['Cordoba':'Sevilla']

Cordoba     300000.0
Madrid     6000000.0
Sevilla     500000.0
dtype: float64

In [ ]:
s3[1:2]

Madrid    6000000.0
dtype: float64

In [ ]:
#operacion booleana
s3 > 1e6

Cordoba     False
Madrid       True
Sevilla     False
Zaragoza    False
dtype: bool

In [ ]:
#
df3['year']>1950

a    False
b    False
c     True
d    False
e     True
Name: year, dtype: bool

In [ ]:
df3[df3['year']>1950]

  province  population  year  debt  2nd_language
c        M   3000000.0  2000   NaN           NaN
e        B   1500000.0  2000   0.9           NaN

In [ ]:
df3[(df3['year']>1950)&(df3['debt']>0.5)]

  province  population  year  debt  2nd_language
e        B   1500000.0  2000   0.9           NaN

In [ ]:
#Forma más clara, bonita y práctica de escribir el código
recent = df3['year']>1950
indebted = df3['debt']>0.05

df3[recent & indebted]

  province  population  year  debt  2nd_language
e        B   1500000.0  2000   0.9           NaN

In [ ]:
df3

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [ ]:
np.sqrt(df3['population'])

a    1224.744871
b    1414.213562
c    1732.050808
d    2236.067977
e    1224.744871
Name: population, dtype: float64

In [ ]:
#Creamos una tabla de 4filas y 3 columnas con nombre de indices columna bde, y filas BMPZ
df4 = pd.DataFrame(np.random.randn(4,3)*17 + 15, columns=list('bde'), index=list('BMPZ'))

In [ ]:
df4

           b          d          e
B  10.699352   8.555548  28.257370
M  -6.648479   1.981792  13.877715
P  12.039310  24.056701   8.808024
Z   4.371269  -3.932444  22.195260

In [ ]:
#Operar sobre cada una de las series (columnas), coge el elemento más grande y le resta el más pequeño
df4.apply(lambda series: series.max() - series.min())

b    18.687789
d    27.989145
e    19.449346
dtype: float64

In [ ]:
df4.applymap(lambda element: element % 10)

          b         d         e
B  0.699352  8.555548  8.257370
M  3.351521  1.981792  3.877715
P  2.039310  4.056701  8.808024
Z  4.371269  6.067556  2.195260

In [ ]:
#Operar sobre cada una de las filas, coge el elemento más grande y le resta el más pequeño
df4.apply(lambda series: series.max() - series.min(), axis=1)

B    19.701822
M    20.526195
P    15.248677
Z    26.127704
dtype: float64

In [ ]:
#Definimos una función
def f(series):
  """Devuelve la diferencia entre el valor máximo y mínimo de los valores de cada columna"""
  return pd.Series([series.max()-series.min()], index=['result'])

df4.apply(f)

                b          d          e
result  18.687789  27.989145  19.449346

In [ ]:
def f_max_min(series):
  """Devuelve el valor máximo y el mínimo de los valores de cada columna"""
  return pd.Series([series.max(),series.min()], index=['max','min'])

df4.apply(f_max_min)

             b          d          e
max  12.039310  24.056701  28.257370
min  -6.648479  -3.932444   8.808024

In [ ]:
#bucle for
for item in df4.items():
  print(item)

('b', B    10.699352
M    -6.648479
P    12.039310
Z     4.371269
Name: b, dtype: float64)
('d', B     8.555548
M     1.981792
P    24.056701
Z    -3.932444
Name: d, dtype: float64)
('e', B    28.257370
M    13.877715
P     8.808024
Z    22.195260
Name: e, dtype: float64)

In [ ]:
#sorting
df4.sort_index(ascending=True)

           b          d          e
B  10.699352   8.555548  28.257370
M  -6.648479   1.981792  13.877715
P  12.039310  24.056701   8.808024
Z   4.371269  -3.932444  22.195260

In [ ]:
#Si no añadimos nada, asume que es el eje0
df4.sort_index(ascending=False)

           b          d          e
Z   4.371269  -3.932444  22.195260
P  12.039310  24.056701   8.808024
M  -6.648479   1.981792  13.877715
B  10.699352   8.555548  28.257370

In [ ]:
#Aclaramos que queremos ordenar el eje 1
df4.sort_index(ascending=False, axis=1)

           e          d          b
B  28.257370   8.555548  10.699352
M  13.877715   1.981792  -6.648479
P   8.808024  24.056701  12.039310
Z  22.195260  -3.932444   4.371269

In [ ]:
df4.sort_values(by=['e','b'])

           b          d          e
P  12.039310  24.056701   8.808024
M  -6.648479   1.981792  13.877715
Z   4.371269  -3.932444  22.195260
B  10.699352   8.555548  28.257370

In [ ]:
s1=pd.Series([2,3,8,4,3,2,1], index=list('abcdefg'))

In [ ]:
s1

a    2
b    3
c    8
d    4
e    3
f    2
g    1
dtype: int64

In [ ]:
#Ordena los valores de menor a mayor
s1.sort_values()

g    1
a    2
f    2
b    3
e    3
d    4
c    8
dtype: int64

In [ ]:
#ranking
s1.rank()

a    2.5
b    4.5
c    7.0
d    6.0
e    4.5
f    2.5
g    1.0
dtype: float64

In [ ]:
pd.Series([1,1,1]).rank()

0    2.0
1    2.0
2    2.0
dtype: float64

In [3]:
#Averiguar los 10 elementos más altos
salaries = pd.Series([15000,90000,120000,300000,10000,5000,40000,50000,80000,35000,27000,14000],index=list('abcdefghijkl'))
salaries

a     15000
b     90000
c    120000
d    300000
e     10000
f      5000
g     40000
h     50000
i     80000
j     35000
k     27000
l     14000
dtype: int64

In [18]:
salaries.sort_values(ascending = False)

d    300000
c    120000
b     90000
i     80000
h     50000
g     40000
j     35000
k     27000
a     15000
l     14000
e     10000
f      5000
dtype: int64